body{
    background-color:#0f121f;
    color: #fff;
}

a.nav-link {
    color: #f8f9fa;
}

.certifs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.certif{
    padding: 10px;
    border : 1px solid #00dba0;
    position: relative;
    padding-bottom: 40px;
}

.certif h2{
   font-size:1.2em

}

.site-form{
    margin-top: 60px;
    border: 1px solid #00dba0;
     padding: 20px;

}

.site-form input, .site-form textarea{
    display: block;
    margin: 0px,0px,0px,20px;
}


.helptext, .helptext ul{
    margin: 0 auto 20px;
    color:#ff4242;
    font-size: 0.8em;
    display: block;
}

.site-form li{
    padding: 0px;
    list-style-type: none;
    color: #4da3ff;

}

ul.errorlist li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid #ff5722;
    color: #ff5722;
    margin: 10px 0;
}
.errorlist li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid #ff5722;
    color: #ff5722;
    margin: 10px 0;
}
.errorlist{
    padding:0;
}
.site-form input[type="submit"]{
    background:#00dba0;
    border:0;
    color: #212529;
    font-size: 1.2em;
    border-radius: 4px;
    margin: 10px 0;

}

.showpdf {
    height=1000px;
}


